
{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!doctype html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




      <script>
        function formatNumber() {
            /*alert("format number çalıştı..."); */
            var deger = document.getElementById("id_tutar").value;
            var b = parseInt(deger);
            /*alert("deger"+deger);
            alert("b"+b);
            alert (isNaN(deger)+": a number"); */
            if (isNaN(deger))
                { alert("bedeli alanına sayı girmelisiniz..."); }
            else
                { /*alert("sayı değeri girildiği için doğru......."); */
                  sonuc = deger.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
                  document.getElementById("id_tutar").value = sonuc;
                  document.getElementById("id_tutar_int").value = b;
                }
            /* sonuc = deger.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
            document.getElementById("id_bedeli").value = sonuc; */
            }
      </script>






  <script>
  $( function() {
  $.datepicker.regional['tr'] = {
    monthNames: ['Ocak','Şubat','Mart','Nisan','Mayıs','Haziran',
    'Temmuz','Ağustos','Eylül','Ekim','Kasım','Aralık'],
    monthNamesShort: ['Oca','Şub','Mar','Nis','May','Haz',
    'Tem','Ağu','Eyl','Eki','Kas','Ara'],
    weekHeader: 'Hf', weekStatus: '',
    dayNames: ['Pazar','Pazartesi','Salı','Çarşamba','Perşembe','Cuma','Cumartesi'],
    dayNamesShort: ['Paz','Pzt','Sal','Çar','Per','Cum','Cmt'],
    dayNamesMin: ['Pa','Pt','Sa','Ça','Pe','Cu','Ct'],
    dateFormat: 'yy-mm-dd', firstDay: 1,
    prevText: 'Önce',
    nextText: 'Sonra',
    isRTL: false};
  $.datepicker.setDefaults($.datepicker.regional['tr']);
  $( ".datepicker" ).datepicker()
  } );
  </script>

  <script>
    function prosecFunction() {
        var response = '';
        var selected = document.getElementById("id_proje").value;
        console.log(selected);
        $.ajax({
          url : "demirbas_ariza_listesi/",
          type : "GET",
          dataType: "text",
          data : {
            'selected' : selected,
              },
          success: function() {
              /* alert("projeden demirbaş seçimi başarıyla çalıştı.."); */
              window.location.reload();
              },
          failure: function() {
              alert("hata var....veri aktarılamadı...");
              }
          });  /* ajax kapa...*/
        /* window.location.reload(); */
    }
  </script>


  <script>
    function demsecFunction() {
        var response = '';
        var selected = document.getElementById("id_demirbas").value;
        console.log(selected);
        $.ajax({
          url : "yedekparca_ariza_listesi/",
          type : "GET",
          dataType: "text",
          data : {
            'selected' : selected,
              },
          success: function() {
              /* alert("demirbaş içinden yedek parça seçimi başarılı...") */
              window.location.reload();
              },
          failure: function() {
              alert("hata var....veri aktarılamadı...");
              }
          });  /* ajax kapa...*/

    }
  </script>


    <script>
      $( ".formatNumber" ).formatNumber();
    </script>



    <script>
      $( ".prosecFunction" ).prosecFunction()
      } );
    </script>

    <script>
      $( ".demsecFunction" ).demsecFunction()
      } );
    </script>

</head>



<body>

<script>
      $(document).ready(function(){
             $("#id_proje").change(function(){
                  /*alert ( "hadi  şimdi...prosec çalıştı...");*/
                  prosecFunction();
             });   /*  change  kapanıyor ...  */
           });  /* document ready  kapanıyor */
</script>


<script>
      $(document).ready(function(){
             $("#id_demirbas").change(function(){
                  /*alert ( "hadi  şimdi...demsec çalıştı..."); */
                  demsecFunction();
             });   /*  change  kapanıyor ...  */
           });  /* document ready  kapanıyor */
</script>



  <script>
      $(document).ready(function(){
             $("#id_bedeli").change(function(){
                  /*alert ( "hadi  şimdi...bedeli çalıştı...");*/
                  formatNumber();
             });   /*  change  kapanıyor ...  */
           });  /* document ready  kapanıyor */
  </script>


<h4>  Masraf Giriş Formu  </h4>

<p> </p> 


<form  action="" method="post" novalidate>
        {% csrf_token %}
        <table border="0" class="fkenar">
          {{ form }}
        </table>
        <input type="submit" value="gir" />
</form>



  <!--
  <h5> text denemesi buraya {{ text }} </h5>
  -->

  <!--
  {% for deneme_giris in deneme_giris_QS %}
    <h5> yazı  {{ deneme_giris.yazi }} </h5>
    <h5> kullanıcı  {{ deneme_giris.user.id}} </h5>
    <h5> tarih    {{ deneme_giris.tarih }} </h5>
    <h5> </h5>
  {% endfor %}
  -->

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}



</body>


</html>
{% endblock %}
