{% extends "base_generic.html" %}

{% block content %}
  <h3>Demirbas Sayfası</h3>

      <table border="0">
          <tbody>
              <tr>
                  <td><b>id..........:</b></td>
                  <td> &emsp;     {{ demirbas.id }}</td>
              </tr>
              <tr>
                  <td><b>Demirbaş adı......:   </b></td>
                  <td> &emsp;     {{ demirbas.demirbasadi }}</td>
              </tr>
              <tr>
                  <td><b>Proje.......:</b></td>
                  <td>  &emsp;      {{ demirbas.proje }}</td>
              </tr>
              <tr>
                  <td><b>Marka..........: </b></td>
                  <td>   &emsp;       {{ demirbas.marka }}</td>
              </tr>
              <tr>
                  <td><b>Bölüm.............: </b></td>
                  <td>   &emsp;         {{ demirbas.bolum }}</td>
              </tr>
              <tr>
                  <td><b>Ekipman türü.........:  </b></td>
                  <td>   &emsp;             {{ demirbas.ekipman_turu }}</td>
              </tr>
              <tr>
                  <td><b>Alt kategori.......: </b></td>
                  <td>    &emsp;              {{ demirbas.alt_kategori }}</td>
              </tr>
              <tr>
                  <td><b>Modeli..........: </b></td>
                  <td>   &emsp;         {{ demirbas.modeli }}</td>
              </tr>

              <tr>
                  <td><b>Durum............: </b></td>
                  <td>   &emsp;       {{ demirbas.durum }}</td>
              </tr>
              <tr>
                  <td><b>Garanti var mı......: </b></td>
                  <td>   &emsp;         {{ demirbas.garanti_varmi }}</td>
              </tr>
              <tr>
                  <td><b>Garanti bitiş.....:  </b></td>
                  <td>   &emsp;             {{ demirbas.garanti_bitis }}</td>
              </tr>
              <tr>
                  <td><b>Amts kalan yıl....: </b></td>
                  <td>    &emsp;              {{ demirbas.amts_kalanyil }}</td>
              </tr>
              <tr>
                  <td><b>Envanter bedeli.....: </b></td>
                  <td>   &emsp;         {{ demirbas.env_bedeli }}</td>
              </tr>
              <tr>
                  <td><b>Açıklama.......:  </b></td>
                  <td>   &emsp;             {{ demirbas.aciklama }}</td>
              </tr>
              <tr>
                  <td><b>Kullanıcı........: </b></td>
                  <td>    &emsp;              {{ demirbas.kullanici }}</td>
              </tr>
              <tr>
                  <td><b>Yaratıldı..........: </b></td>
                  <td>   &emsp;         {{ demirbas.yaratildi }}</td>
              </tr>
              <tr>
          </tbody>
      </table>







  <a href="/giris/hareket/yarat/{{ demirbas.id }}"> Taşıma işlemi... </a>
  <p> </p>
  <a href="/giris/hareket/perteayir/{{ demirbas.id }}"> Perte ayır... </a>
  <p> </p>
  <a href="/giris/hareket/devret/{{ demirbas.id }}"> Müşteriye devret... </a>

{% endblock %}
