
{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!doctype html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



  <script>
    function formatNumber() {
        alert("format number çalıştı...");
        var deger = document.getElementById("id_bedeli").value;
        var b = parseInt(deger);
        alert("deger"+deger);
        alert("b"+b);
        alert (isNaN(deger)+": a number");
        if (isNaN(deger))
            { alert("bedeli alanına sayı girmelisiniz..."); }
        else
            { alert("sayı değeri girildiği için doğru.......");
              sonuc = deger.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
              document.getElementById("id_bedeli").value = sonuc;
              document.getElementById("id_bedeli_int").value = b;
            }
        /* sonuc = deger.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
        document.getElementById("id_bedeli").value = sonuc; */
        }
  </script>



  <script>
    function myFunction() {
        /*alert(" myFunction çalıştı....."); */
        var garanti_varmi = document.getElementById("id_garanti_varmi").value;
        /*document.getElementById("id_bolum").value = garanti_varmi;*/
        /* console.log(garanti_varmi); */
        if ( garanti_varmi == "H" )
          {
            /*document.getElementById("id_bolum").value = "X";*/
            document.getElementById('id_garanti_bitis').value = "";
            document.getElementById('id_garanti_bitis').style.display = 'none';
           }
        else
          {
            /*document.getElementById("id_bolum").value = "Y";*/
            document.getElementById('id_garanti_bitis').style.display = '';
          }

    }
  </script>



  <script>
    $( ".myFunction" ).myFunction();
  </script>

  <script>
    $( ".formatNumber" ).formatNumber();
  </script>




  <script>
  $( function() {
  $.datepicker.regional['tr'] = {
    monthNames: ['Ocak','Şubat','Mart','Nisan','Mayıs','Haziran',
    'Temmuz','Ağustos','Eylül','Ekim','Kasım','Aralık'],
    monthNamesShort: ['Oca','Şub','Mar','Nis','May','Haz',
    'Tem','Ağu','Eyl','Eki','Kas','Ara'],
    weekHeader: 'Hf', weekStatus: '',
    dayNames: ['Pazar','Pazartesi','Salı','Çarşamba','Perşembe','Cuma','Cumartesi'],
    dayNamesShort: ['Paz','Pzt','Sal','Çar','Per','Cum','Cmt'],
    dayNamesMin: ['Pa','Pt','Sa','Ça','Pe','Cu','Ct'],
    dateFormat: 'yy-mm-dd', firstDay: 1,
    prevText: 'Önce',
    nextText: 'Sonra',
    isRTL: false};

  $.datepicker.setDefaults($.datepicker.regional['tr']);
  $( ".datepicker" ).datepicker()


  } );

  </script>
</head>


<body>

<!--
  <script>
      $(document).ready(function(){
          /* alert ("hadi bakalım...."); */
          myFunction();
          /*formatNumber();*/
           });  /* document ready  kapanıyor */
  </script>
-->



  <script>
      $(document).ready(function(){
             $("#id_garanti_varmi").change(function(){
                  /* alert ( "hadi  şimdi...garanti var mı çalıştı..."); */
                  myFunction();
             });   /*  change  kapanıyor ...  */
           });  /* document ready  kapanıyor */
  </script>


  <script>
      $(document).ready(function(){
             $("#id_bedeli").change(function(){
                  /*alert ( "hadi  şimdi...bedeli çalıştı...");*/
                  formatNumber();
             });   /*  change  kapanıyor ...  */
           });  /* document ready  kapanıyor */
  </script>







  <form  action="" method="post" novalidate>
      {% csrf_token %}
      <table border="0" class="fkenar">
        {{ form }}
      </table>
      <input type="submit" value="gir" />
  </form>





</body>


</html>
{% endblock %}
