{% extends "base_generic.html" %}

{% block content %}
    <h1>Demirbaş Listesi</h1>

    {% if demirbas_list %}
    <ul>

      {% for demirbas in demirbas_list %}
      <li>
        <a href="{{demirbas.id}}/delete"><span class='glyphicon glyphicon-remove'></span></a>
        <a href="{{demirbas.id}}/update"><span class='glyphicon glyphicon-pencil'></span></a>
              &emsp;   ({{demirbas.id}})    <a href="{{demirbas.id}}">{{ demirbas.demirbasadi }}</a>
        <!--  <a href="{{marka.id}}">{{ marka.id }}</a> ({{marka.marka_adi}}) -->
      </li>
      {% endfor %}
      <p> </p>
      <a href="/giris/demirbas/create"> Demirbaş Ekle </a>
    </ul>
    {% else %}
      <p>Kayıtlı demirbaş yok ....</p>
      <p> </p>
      <a href="/giris/demirbas/create"> Demirbaş Ekle </a>
    {% endif %}

{% endblock %}
