

{% extends "base_generic.html" %}

{% block content %}
    <h3>Demirbaş Arama Sonuçları</h3>

    {% if demirbas_arama_filtresi %}
    <ul>

      {% for demirbas in demirbas_arama_filtresi %}
      <li>
      <!-- <a href="demirbas/{{demirbas.id}}/delete"><span class='glyphicon glyphicon-remove'></span></a>
        <a href="demirbas/{{demirbas.id}}/update"><span class='glyphicon glyphicon-pencil'></span></a>  -->
        &emsp;   ({{demirbas.id}})    <a href="demirbas/{{demirbas.id}}">{{ demirbas.demirbasadi }}</a>
        <!--  <a href="{{marka.id}}">{{ marka.id }}</a> ({{marka.marka_adi}}) -->
      </li>
      {% endfor %}
      <p> </p>
      <!-- <a href="/giris/demirbas/create"> Demirbaş Ekle </a>  -->
    </ul>
    {% else %}
      <p>Aranan demirbaş yok ....</p>
      <p> </p>
      <!--  <a href="/giris/demirbas/create"> Demirbaş Ekle </a>  -->
    {% endif %}

{% endblock %}
