{% extends "base_generic.html" %}

{% block content %}
{% load humanize %}


  <h3>Depodaki demirbaş sayfası</h3>

    {% for demirbas in demirbas_obj %}
      <table border="0">
          <tbody>
              <tr>
                  <td><b>id..........:</b></td>
                  <td> &emsp;     {{ demirbas.id }}</td>
              </tr>
              <tr>
                  <td><b>Demirbaş adı.......:   </b></td>
                  <td> &emsp;     {{ demirbas.demirbasadi }}</td>
              </tr>
              <tr>
                  <td><b>Proje...........:</b></td>
                  <td>  &emsp;    {{ demirbas.proje }}</td>
              </tr>
              <tr>
                  <td><b>Marka............: </b></td>
                  <td>   &emsp;    {{ demirbas.marka }}</td>
              </tr>
              <tr>
                  <td><b>Bölüm.............: </b></td>
                  <td>   &emsp;    {{ demirbas.bolum }}</td>
              </tr>
              <tr>
                  <td><b>Ekipman türü.........:  </b></td>
                  <td>   &emsp;    {{ demirbas.ekipman_turu }}</td>
              </tr>
              <tr>
                  <td><b>Alt kategori.......: </b></td>
                  <td>    &emsp;    {{ demirbas.alt_kategori }}</td>
              </tr>
              <tr>
                  <td><b>Modeli..........: </b></td>
                  <td>   &emsp;     {{ demirbas.modeli }}</td>
              </tr>

              <tr>
                  <td><b>Durum............: </b></td>
                  <td>   &emsp;       {{ demirbas.durum }}</td>
              </tr>
              <tr>
                  <td><b>Kullanım durumu....: </b></td>
                  <td>   &emsp;       {{ demirbas.kullanim_durumu }}</td>
              </tr>

              <tr>
                  <td><b>Garanti var mı......: </b></td>
                  <td>   &emsp;         {{ demirbas_obj.gar_varmi }}</td>
              </tr>
              <tr>
                  <td><b>Garanti bitiş.......:  </b></td>
                  <td>   &emsp;      {{ demirbas.garanti_bitis|date:"d/m/Y" }}</td>
              </tr>
              <tr>
                  <td><b>Amts kalan yıl.....: </b></td>
                  <td>    &emsp;     {{ demirbas.amts_kalanyil }}</td>
              </tr>
              <tr>
                  <td><b>Envanter bedeli (TL): </b></td>
                  <td>    &emsp;      {{ demirbas.env_bedeli|intcomma }}</td>
              </tr>
              <tr>
                  <td><b>Açıklama............:  </b></td>
                  <td>   &emsp;      {{ demirbas.aciklama }}</td>
              </tr>
              <tr>
                  <td><b>Kullanıcı...........: </b></td>
                  <td>    &emsp;     {{ demirbas.kullanan }}</td>
              </tr>
              <tr>
                  <td><b>Yaratıldı...........: </b></td>
                  <td>   &emsp;     {{ demirbas.yaratildi|date:"d/m/Y" }}</td>
              </tr>
              <tr>
          </tbody>
      </table>



  <p> </p>
  <a href="/giris/hareket/depodan_geri/{{ demirbas.id }}"> Depodan projeye aktar...... </a>
  <p> </p>
  {% endfor %}

{% endblock %}
