

{% extends "base_generic.html" %}

{% block content %}


<!--  buraya if konulacak ...-->


      <h1>Demirbaş Silinmiyor</h1>

      <p> Veri bağlantıları sebebiyle bu demirbas silinemiyor... </p>


      <form action="" method="POST">
        {% csrf_token %}
      <!--<input type="submit" action="demirbas_sil_kesin" value="Evet, sil.." /> -->

      <!-- <a href="giris/demirbas/{{ sil_id }}/kesin"> Evet sil... </a>  -->

      <a href="/giris/demirbas"> listeye dön... </a>
      </form>

{% endblock %}
