{% extends "base_generic.html" %}

{% block content %}


<!--  buraya if konulacak ...-->


      <h3>Demirbaşı depoya aktar</h3>

      <p>Bu demirbaşı depoya aktarmak istediğinizden emin misiniz ???: </p>

      <p> Adı : {{ depoya }} </p>

      <p> id : {{ depoya_id }}</p>



      <form action="" method="POST">
        {% csrf_token %}
      <!--<input type="submit" action="demirbas_sil_kesin" value="Evet, sil.." /> -->

      <!-- <a href="giris/demirbas/{{ sil_id }}/kesin"> Evet sil... </a>  -->

      <a href="{{ depoya_id }}/kesin"> Evet depoya aktar... </a>
      </form>

{% endblock %}
