{% extends "base_generic.html" %}

{% block content %}
    <h3>Taşıma işlemleri listesi</h3>

    {% if hareket_list %}
    <!-- <ul> -->

      <table border="0">
        <tbody>


      {% for hareket in hareket_list %}
       <!--  <li> -->

        <!--
        <a href="{{hareket.id}}/sil"><span class='glyphicon glyphicon-remove'></span></a>
        <a href="{{hareket.id}}/guncelle"><span class='glyphicon glyphicon-pencil'></span></a>
      -->
      <tr>
          <td>&emsp;   ({{hareket.id}})  </td>
          <td><a href="{{hareket.id}}">{{ hareket.demirbas_id }}</a></td>
          <td>&emsp; &emsp;  {{ hareket.har_tipi }}</td>
          <td>&emsp; &emsp;  {{ hareket.mevcut_proj }}</td>
          <td>&emsp; &emsp;  {{ hareket.sonraki_proj }}</td>

      </tr>
      <!--
              &emsp;   ({{hareket.id}})
              <a href="{{hareket.id}}">{{ hareket.demirbas_id }}</a>
              &emsp; &emsp;   <a>{{ hareket.har_tipi }}</a>
              &emsp; &emsp;   <a>{{ hareket.mevcut_proj }}</a>
              &emsp; &emsp;   <a>{{ hareket.sonraki_proj }}</a>
       -->


      <!--  </li>  -->
      {% endfor %}

        </tbody>
      </table>

    <!-- </ul>  -->
    {% else %}
      <p>Kayıtlı taşıma yok ....</p>
      <p> </p>
      <!-- <a href="/giris/hareket/yarat"> Taşıma Ekle </a>  -->
    {% endif %}

{% endblock %}
