
{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!doctype html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  $( function() {

  $.datepicker.regional['tr'] = {
    monthNames: ['Ocak','Şubat','Mart','Nisan','Mayıs','Haziran',
    'Temmuz','Ağustos','Eylül','Ekim','Kasım','Aralık'],
    monthNamesShort: ['Oca','Şub','Mar','Nis','May','Haz',
    'Tem','Ağu','Eyl','Eki','Kas','Ara'],
    weekHeader: 'Hf', weekStatus: '',
    dayNames: ['Pazar','Pazartesi','Salı','Çarşamba','Perşembe','Cuma','Cumartesi'],
    dayNamesShort: ['Paz','Pzt','Sal','Çar','Per','Cum','Cmt'],
    dayNamesMin: ['Pa','Pt','Sa','Ça','Pe','Cu','Ct'],
    dateFormat: 'yy-mm-dd', firstDay: 1,
    prevText: 'Önce',
    nextText: 'Sonra',
    isRTL: false};

  $.datepicker.setDefaults($.datepicker.regional['tr']);
  $( ".datepicker" ).datepicker()


  } );

  </script>
</head>


<body>



  <h3>    Taşıma  İşlemi   </h3>


  <h5>  {{ deneme_4 }}  </h5>


  <form action="" method="post">

      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="gir" />
  </form>

  <!--
  <h5> text denemesi buraya {{ text }} </h5>
  -->

  <!--
  {% for deneme_giris in deneme_giris_QS %}
    <h5> yazı  {{ deneme_giris.yazi }} </h5>
    <h5> kullanıcı  {{ deneme_giris.user.id}} </h5>
    <h5> tarih    {{ deneme_giris.tarih }} </h5>
    <h5> </h5>
  {% endfor %}
  -->

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}



</body>


</html>
{% endblock %}
