{% extends "base_generic.html" %}

{% block content %}
    <h1>Marka Listesi</h1>

    {% if marka_list %}
    <ul>

      {% for marka in marka_list %}
      <li>
        <a href="{{marka.id}}/delete"><span class='glyphicon glyphicon-remove'></span></a>
        <a href="{{marka.id}}/update"><span class='glyphicon glyphicon-pencil'></span></a>
              &emsp;   ({{marka.id}})    <a href="{{marka.id}}">{{ marka.marka_adi }}</a>
        <!--  <a href="{{marka.id}}">{{ marka.id }}</a> ({{marka.marka_adi}}) -->
      </li>
      {% endfor %}
      <p> </p>
      <a href="/giris/marka/create"> Marka Ekle </a>
    </ul>
    {% else %}
      <p>Kayıtlı marka yok ....</p>
      <p> </p>
      <a href="/giris/marka/create"> Marka Ekle </a>
    {% endif %}

{% endblock %}
