{% extends "base_generic.html" %}

{% block content %}
    <h1>Müşteri Listesi</h1>

    {% if musteri_list %}
    <ul>

      {% for musteri in musteri_list %}
      <li>
        <a href="{{musteri.id}}/delete"><span class='glyphicon glyphicon-remove'></span></a>
        <a href="{{musteri.id}}/update"><span class='glyphicon glyphicon-pencil'></span></a>
              &emsp;   ({{musteri.id}})    <a href="{{musteri.id}}">{{ musteri.musteri_adi }}</a>
        <!--  <a href="{{marka.id}}">{{ marka.id }}</a> ({{marka.marka_adi}}) -->
      </li>
      {% endfor %}
      <p> </p>
      <a href="/giris/musteri/create"> Müşteri Ekle </a>
    </ul>
    {% else %}
      <p>Kayıtlı müşteri yok ....</p>
      <p> </p>
      <a href="/giris/musteri/create"> Müşteri Ekle </a>
    {% endif %}

{% endblock %}
