{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Kullanıcı adınız ve şifreniz uyuşmadı, lütfen tekrar deneyin...</p>
{% endif %}

<!--
{% if next %}
    {% if user.is_authenticated %}
    <p>Hesabınız bu sayfaya erişmeye yetkili değil...</p>
    {% else %}
    <p>ddddd...</p>
    {% endif %}
{% endif %}
-->

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="gir" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Şifrenizi mi unuttunuz?</a></p>

{% endblock %}
