{% extends "base_generic.html" %}

{% block content %}




<h2>İçerik bilgisi</h2>

  <p>Envanter sistemindeki kayıt listesi:</p>


    <table border="0">
          <tbody>
              <tr>
                  <td><b>Proje..............:</b></td>
                  <td> &emsp;     {{ num_proje }}</td>
              </tr>
              <tr>
                  <td><b>Müşteri..........:   </b></td>
                  <td> &emsp;     {{ num_musteri }}</td>
              </tr>
              <tr>
                  <td><b>Demirbaş.......:</b></td>
                  <td>  &emsp;      {{ num_demirbas }}</td>
              </tr>
              <tr>
                  <td><b>Marka.............: </b></td>
                  <td>   &emsp;       {{ num_marka }}</td>
              </tr>
              <tr>
                  <td><b>Kategori.........: </b></td>
                  <td>   &emsp;         {{ num_kategori }}</td>
              </tr>
              <tr>
                  <td><b>Alt kategori...:  </b></td>
                  <td>   &emsp;  {{ num_alt_kategori }}</td>
              </tr>
              <tr>
                  <td><b>Ekipman türü: </b></td>
                  <td>    &emsp;  {{ num_ekipman_turu }}</td>
              </tr>
              <tr>
                  <td><b>Yedek parça..:</b></td>
                  <td> &emsp;     {{ num_yedek_parca }}</td>
              </tr>
              <tr>
                  <td><b>Grup..............:   </b></td>
                  <td> &emsp;     {{ num_grup }}</td>
              </tr>
              <tr>
                  <td><b>Şirket.............:</b></td>
                  <td>  &emsp;      {{ num_sirket }}</td>
              </tr>
              <tr>
                  <td><b>Servis............: </b></td>
                  <td>   &emsp;  {{ num_servis }}</td>
              </tr>
              <tr>
                  <td><b>Taşıma...........: </b></td>
                  <td>   &emsp;  {{ num_hareket }}</td>
              </tr>
              <tr>
                  <td><b>Arıza..............:  </b></td>
                  <td>   &emsp; {{ num_ariza }}</td>
              </tr>

          </tbody>
      </table>







{% endblock %}
