{% extends "base_generic.html" %}

{% block content %}




<h2>İçerik bilgisi</h2>

  <p>Envanter sistemindeki kayıt listesi:</p>
  <ul>
    <li><strong>Proje........:</strong> {{ num_proje }}</li>
    <li><strong>Müşteri......:</strong> {{ num_musteri }}</li>
    <li><strong>Demirbaş.....:</strong> {{ num_demirbas }}</li>
    <li><strong>Marka........:</strong> {{ num_marka }}</li>
    <li><strong>Kategori.....:</strong> {{ num_kategori }}</li>
    <li><strong>Alt kategori.:</strong> {{ num_alt_kategori }}</li>
    <li><strong>Ekipman türü.:</strong> {{ num_ekipman_turu }}</li>
    <li><strong>Yedek parça..:</strong> {{ num_yedek_parca }}</li>
    <li><strong>Grup.........:</strong> {{ num_grup }}</li>
    <li><strong>Şirket.......:</strong> {{ num_sirket }}</li>
    <li><strong>Servis.......:</strong> {{ num_servis }}</li>
    <li><strong>Taşıma.......:</strong> {{ num_hareket }}</li>
    <li><strong>Arıza........:</strong> {{ num_ariza }}</li>
  </ul>

  <script>
	  sayhello("   girls...   ");
	</script>
  <button onClick="alert('You clicked the button using Javascript.');">
         Click Me - I run Javascript
  </button>


<a href="/giris/demirbas/aktar"> isim denemesi js için... </a>




{% endblock %}
