
{% extends "base_generic.html" %}
{% load crispy_forms_tags %}




{% block content %}

<!doctype html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">





  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
-->

<!--
<script>
    $(document).ready(function(){
           $("#id_demirbas").change(function(){
                alert("haydi be.....");
           });   /*  change  kapanıyor ...  */
         });  /* document ready  kapanıyor */
</script>
-->
<!--
<script>
    $(document).ready(function(){

                alert("haydi be....document ready sadece....");

         });  /* document ready  kapanıyor */
</script>
-->

<!--

<script>
    $(document).ready(function(){
           $("#id_demirbas").change(function(){
                 alert("haydi be..2...");
              var aj_adi = document.getElementById("id_your_name").value;
              var aj_tarihi = document.getElementById("id_tarih").value;
              var selected = document.getElementById("id_demirbas").value;
              console.log(selected);
              $.ajax({
                url : "yedek_parca_listesi/",
                type : "GET",
                dataType: "json",
                data : {
                  'aj_adi' : aj_adi
                  'aj_tarihi' : aj_tarihi
                  'selected' : selected
                  },
                /* success: function(json) {  */
                success: function(json) {
                    /* document.getElementById('id_yedek_parca').value=json.response_data; */
                    location.reload(true);
                    /* alert('işlem tamam hadi hayırlısı...');  */
                    },
                failure: function(json) {
                    alert('hata var....veri aktarılamadı...');
                    }
                 });  /* ajax kapanıyor...  */
                window.location.reload(true);
            });   /*  change  kapanıyor ...  */
          });  /* document ready  kapanıyor */
</script>

-->



<script>
  function myFunction() {
      var response = '';
      var aj_adi = document.getElementById("id_your_name").value;
      var aj_tarihi = document.getElementById("id_tarih").value;
      var selected = document.getElementById("id_demirbas").value;
      var aj_gizli = document.getElementById("id_gizli").value;
      document.getElementById("id_your_name").value = document.getElementById("id_demirbas").value;
      console.log(selected);
      $.ajax({
        url : "yedek_parca_listesi/",
        type : "GET",
        dataType: "text",
        data : {
          'aj_adi' : aj_adi,
          'aj_tarihi' : aj_tarihi,
          'selected' : selected,
          'aj_gizli' : aj_gizli,
          },
        success: function(text) {
            response = "text";
            },
        failure: function() {
            alert('hata var....veri aktarılamadı...');
            }
        });  /* ajax kapa...*/
       alert(response);
       window.location.reload(); 
  }

</script>


<script>
  $( ".myFunction" ).myFunction()
  } );
</script>


<script>

  $( function() {
    $.datepicker.regional['tr'] = {
      monthNames: ['Ocak','Şubat','Mart','Nisan','Mayıs','Haziran',
      'Temmuz','Ağustos','Eylül','Ekim','Kasım','Aralık'],
      monthNamesShort: ['Oca','Şub','Mar','Nis','May','Haz',
      'Tem','Ağu','Eyl','Eki','Kas','Ara'],
      weekHeader: 'Hf', weekStatus: '',
      dayNames: ['Pazar','Pazartesi','Salı','Çarşamba','Perşembe','Cuma','Cumartesi'],
      dayNamesShort: ['Paz','Pzt','Sal','Çar','Per','Cum','Cmt'],
      dayNamesMin: ['Pa','Pt','Sa','Ça','Pe','Cu','Ct'],
      dateFormat: 'yy-mm-dd', firstDay: 1,
      prevText: 'Önce',
      nextText: 'Sonra',
      isRTL: false};

      $.datepicker.setDefaults($.datepicker.regional['tr']);
      $( ".datepicker" ).datepicker()
  } );

</script>



</head>





<body>


  <script>
      $(document).ready(function(){
             $("#id_demirbas").change(function(){
                  myFunction();
             });   /*  change  kapanıyor ...  */
           });  /* document ready  kapanıyor */
  </script>



  <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="gir" />
  </form>

  <p> denemesi buraya {{ response_data }} </p>

  <p> text denemesi buraya {{ text }} </p>
  <!--<h2> {{ deneme_giris_nesne }} </h2> -->
  <button onclick="myFunction()">Copy Text</button>


  {% for deneme_giris in deneme_giris_QS %}
    <h5> yazı  {{ deneme_giris.yazi }} </h5>
    <h5> kullanıcı  {{ deneme_giris.user.id}} </h5>
    <h5> tarih    {{ deneme_giris.tarih }} </h5>
    <h5> ----------------------------------</h5>
  {% endfor %}

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}





  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->




</body>


</html>
{% endblock %}
