
{% extends "base_generic.html" %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="gir" />
</form>
<h5> text denemesi buraya {{ text }} </h5>
<!--<h2> {{ deneme_giris_nesne }} </h2> -->


{% for deneme_giris in deneme_giris_QS %}
  <h5> yazı  {{ deneme_giris.yazi }} </h5>
  <h5> kullanıcı  {{ deneme_giris.user.id}} </h5>
  <h5> tarih    {{ deneme_giris.tarih }} </h5>
  <h5> ----------------------------------</h5>
{% endfor %}


{% endblock %}
